* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.app-header h1 {
	color: #84a98c;
	font-size: 3rem;
	text-decoration: underline;
}

input {
	height: 2rem;
	cursor: pointer;
}

button {
	height: 2rem;
	cursor: pointer;
}

body {
	background-color: #e9ecef;
	margin: 0;
	font-family: monospace;
	font-size: 1rem;
	text-align: center;
}

.book-filter {
	margin-top: 1rem;
	background-color: #ced4da;
	padding: 1rem;
}

.book-list {
	margin-top: 1rem;
}

.book-list ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.books-area {
	display: flex;
	justify-content: space-between;
	background-color: #ced4da;
}

.book-card {
	cursor: pointer;
	width: 8rem;
	background-color: #e9ecef;
	border: 1px solid black;
	padding: 1rem;
	margin: 1rem;
}

.book-details {
	text-align: left;
	margin-top: 2rem;
}

.book-details .red {
	color: red;
}

.book-details .green {
	color: green;
}

.book-details {
	padding: 2rem;
	display: flex;
	background-color: #d2d8df;
}

.book-details button {
	align-self: flex-end;
	flex-shrink: 0;
	padding: 0.5rem;
}

.book-details .book-info {
	margin: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.book-info h1 {
	font-size: 2rem;
	color: #52796f;
	border-bottom: 0.1rem solid #f0f0f0;
}

.book-info span {
	color: darkblue;
}

.book-preview {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.book-preview h2 {
	font-size: 1rem;
}

.book-filter form {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
