* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.main h1 {
	color: lightseagreen;
	font-size: 3rem;
}

input {
	height: 2rem;
	cursor: pointer;
}

button {
	height: 2rem;
	cursor: pointer;
}

body {
	background-color: lightgray;
	margin: 0;
	font-family: monospace;
	font-size: 1rem;
	text-align: center;
}

.book-filter {
	margin-top: 1rem;
}

.book-list {
	margin-top: 1rem;
}

.book-list ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.books-area {
	display: flex;
	justify-content: space-between;
	background-color: lightpink;
}

.book-card {
	cursor: pointer;
	height: 8rem;
	width: 8rem;
	background-color: lightyellow;
	border: 1px solid black;
	padding: 1rem;
	margin: 1rem;
}

.book-details {
	text-align: left;
	margin-top: 2rem;
}

.book-details .red {
	color: red;
}

.book-details .green {
	color: green;
}

.book-preview {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.book-preview h2 {
	font-size: 1rem;
}
